@page "/"


<h1 class="card-title">MegaCasting mobile Beta</h1>
<p class="card-body">
  
    <ul>
        <li>REST Web API with Core 5.0</li>
        <li>Connexion BDD via Entity Framework Core</li>
        <li>Pattern Repository et Injection de dépendance</li>
        <li>Enregistrement d'incidents avec NLog</li>
        <li>Authentification avec JWT (JSON Web Tokens)</li>
        <li>DAOs, DTOs et AutoMapper</li>
        <li>Gestion Packages avec NuGet</li>
        <li>Migration du projet MegaSolution.Electron</li>
    </ul>
    Github: <a href="https://github.com/felixyangyicheng/ElectronMegaCasting">Yicheng YANG | Github</a>
</p>

